.example-container {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    min-width: 350px;
    overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }