
<button type="button" class="btn btn-secondary w-100p mb-1" id="back" (click)="goBack()">Back</button>

<div id="page-wrap">

		<textarea id="header">INVOICE</textarea>
		
		<div id="identity">
		<div class="address">
<p *ngFor="let status of Allstatus">{{status.addressStreet}}</p> 
	<p *ngFor="let status of Allstatus">{{status.addressCity}}</p>
	<p *ngFor="let status of Allstatus">{{status.addressState}}</p>
</div>
            <div id="logo">

              <div id="logoctr">
                <a href="javascript:;" id="change-logo" title="Change logo">Change Logo</a>
                <a href="javascript:;" id="save-logo" title="Save changes">Save</a>
                |
                <a href="javascript:;" id="delete-logo" title="Delete logo">Delete Logo</a>
                <a href="javascript:;" id="cancel-logo" title="Cancel changes">Cancel</a>
              </div>

              <div id="logohelp">
                <input id="imageloc" type="text" size="50" value="" /><br />
                (max width: 540px, max height: 100px)
              </div>
              <img id="image" src="images/logo.png" alt="logo" />
            </div>
		
		</div>
		
		<div style="clear:both"></div>
		
		<div id="customer">

            <h2 id="customer-title" *ngFor="let status of Allstatus">{{status.schoolName}}</h2>

            <table id="meta">
                <tr>
                    <td class="meta-head">Invoice #</td>
                    <td><textarea>000123</textarea></td>
                </tr>
                <tr>

                    <td class="meta-head">Date</td>
                    <td><textarea id="date">December 15, 2009</textarea></td>
                </tr>
                <tr>
                    <td class="meta-head">Amount Due</td>
                    <td><div class="due">$875.00</div></td>
                </tr>

            </table>
		
		</div>
		
		<table id="items">
		
		  <tr>
		      <th>Name</th>
		      <th>Description</th>
		      <th>Unit Cost</th>
		      <th>Quantity</th>
		      <th>Price</th>
		  </tr>
		  
		  <tr class="item-row" *ngFor="let field of fieldArray; let i = index">
		      <td class="item-name"><div class="delete-wpr"><textarea  [(ngModel)]="field.name"  type="text" name="{{field.name}}" >Web Updates</textarea><a class="delete" title="Remove row"  (click)="deleteFieldValue(i)">X</a></div></td>
		      <td class="description"><textarea   [(ngModel)]="field.description"  type="text" name="{{field.description}}">Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></td>
		      <td><textarea class="cost" [value]="cost" (input)="cost = $event.target.value"   [(ngModel)]="field.costUnit"  type="number" name="{{field.costUnit}}">$</textarea></td>
		      <td><textarea class="qty" [value]="qty" (input)="qty = $event.target.value"   [(ngModel)]="field.quantity"  type="number" name="{{field.quantity}}">1</textarea></td>
		      <td><span class="price"   [(ngModel)]="field.price"  type="number" name="{{field.price}}">{{cost * qty}}</span></td>
		  </tr>
		  <tr class="item-row">
				<td class="item-name"><div class="delete-wpr"><textarea  id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" >Web Updates</textarea><a class="delete" title="Remove row">X</a></div></td>
				<td class="description"><textarea  id="newAttributeDescription" [(ngModel)]="newAttribute.description" name="newAttributeDescription">Monthly web updates for http://widgetcorp.com (Nov. 1 - Nov. 30, 2009)</textarea></td>
				<td><textarea class="cost" [value]="cost" (input)="cost = $event.target.value"  id="newAttributeCostUnit" [(ngModel)]="newAttribute.costUnit" name="newAttributeCostUnit">$</textarea></td>
				<td><textarea class="qty" [value]="qty" (input)="qty = $event.target.value"  id="newAttributeQuantity" [(ngModel)]="newAttribute.quantity" name="newAttributeQuantity">1</textarea></td>
				<td  id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice"><span class="price">{{cost * qty}}</span></td>
			</tr>
		  
		  <tr id="hiderow">
		    <td colspan="5"><a id="addrow" class="btn btn-primary"  (click)="addFieldValue()">Add a row</a></td>
		  </tr>
		  
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">15% Tax</td>
		      <td class="total-value"><div id="subtotal">{{ cost * qty}}</div></td>
		  </tr>
		  <tr>

		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Total</td>
			  <td class="total-value"><div id="total">$875.00</div></td>
			  
			  
		  </tr>
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line">Amount Paid</td>

		      <td class="total-value"><textarea id="paid">$0.00</textarea></td>
		  </tr>
		  <tr>
		      <td colspan="2" class="blank"> </td>
		      <td colspan="2" class="total-line balance">Balance Due</td>
		      <td class="total-value balance"><div class="due">$875.00</div></td>
		  </tr>
		
        </table>
		
		<div id="terms">
		  <h5>Terms</h5>
		  <textarea>NET 30 Days. Finance Charge of 1.5% will be made on unpaid balances after 30 days.</textarea>
        </div>

        <div class="row pad-top-botm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <hr />
                    <a href="#" class="btn btn-secondary btn-lg" >Save</a>
                    &nbsp;&nbsp;&nbsp;
                     <a href="#" class="btn btn-success btn-lg" >Send</a>
       
                    </div>
                </div>
	
    </div>
    
